<div class="container">
  <h1>Edit a post!</h1>
  <% if @post.errors.any? %>
    <h2>The following errors prevented the post from being saved</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label:text, class:"col-2 col-form-label text-dark" %>
      <%= f.text_area :text, class: " form-control shadow rounded mb-3", placeholder: "Description of Report" %>
    </div>
      
    <div class="field mt-2">
      <%= f.submit  %>
    </div>
  <% end %>
</div>